<div style="background: rgb(238, 238, 238); padding-top: 20px">
    <div style="max-width: 800px; margin: 0 auto">
       <table cellpadding="0" cellspacing="0" width="100%">
          <tbody>
             <tr>
                <td align="center">
                   <div style="width: 45px">   <a href="https://meet.SendIt.com/wf/click?upn=pEEcc35imY7Cq0tG1vyTt4u06bHThtxM8NA7Opifv7bRbiuXtd1h9Mg7rR0-2Fc-2B6c1BmErlQ8k4FJyLNIK3WHaaFaXr64-2FBedr9iFu5CFPBPfCMZWhzCpYQhMB6Kdby8gQACX6AlHBBjFC0xuncMZgw-3D-3D_CmwAv3oRa0AH4Hd1bWC6X6DIFcEFxXXsR8fzT-2BE2claatCtc0pgkEDsV8lzNpA7Fhh-2BioAUwcDWNn2WzJkdt3wBljuUPrNbAU0-2B92D4kE2S4qHdI7wc6fXEpMyPOB-2BsHlhDrZzG-2BBbqeMLxlb1rPp8lJGno6JIRXBOPqDid9q5nlmc4-2Fz4a0Q5mUvyT6P-2BF-2FPC-2FaXxr3oDRB7VhZsZZACg-3D-3D" title="SendIt" target="_blank"><img id="1535262542456110001_imgsrc_url_0" alt="SendIt" style="border: none; clear: both; display: block; margin: 0; max-width: 100%; outline: 0; padding: 0; text-decoration: none; vertical-align: baseline; width: auto" src="https://raw.githubusercontent.com/OrganizersTooling/send-it/master/templates/assets/send-it.png"></a> </div>
                </td>
             </tr>
          </tbody>
       </table>
       <div style="color: rgb(46, 62, 72); font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3; background: rgb(255, 255, 255); margin: 20px; border-radius: 6px">
          <div style="padding: 20px; border-bottom: 1px solid rgb(238, 238, 238)">
             <table cellpadding="0" cellspacing="0" width="100%" style="color: rgb(46, 62, 72); font-family: Helvetica, Arial, sans-serif; font-size: 16px; font-weight: 400; line-height: 1.3">
                <tbody>
                   <tr>
                      <td align="left" width="1%" valign="top">
                        <div style="display: block; min-height: 48px; width: 48px">
                          <img id="1535262542456110001_imgsrc_url_1" alt="{{ name }}" height="48" width="48" style="background-color: rgb(204, 204, 204); border-radius: 999px" src="{{ avatar }}">
                        </div>
                      </td>
                      <td align="left" valign="middle">
                         <div style="padding-left: 20px; font-size: 16px">
                            <div style="font-weight: bold">{{ name }}</div>
                         </div>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
          <div style="padding: 20px; border-bottom: 1px solid rgb(238, 238, 238)">
             {{ emailText }}
         </div>
       </div>
       <div style="clear: both; background-color: rgb(238, 238, 238); border-top: solid 20px rgb(238, 238, 238); border-bottom: solid 15px rgb(238, 238, 238); margin: 0 0 0">
          <div style="width: 94%; margin: 0 auto; text-align: center; border-left: solid 10px rgb(238, 238, 238); border-right: solid 10px rgb(238, 238, 238); min-width: 220px; max-width: 650px; font-family: arial; color: rgb(45, 45, 45); font-size: 11px">
             <p style="font-size: 16px; font-weight: bold; margin: 0 0 10px; color: #999"><span style="white-space: nowrap">Sent with love</span> <span style="white-space: nowrap">by </span><a style="color: tomato; text-decoration: none" href="https://github.com/OrganizersTooling/send-it">SendIt <3</a></p>    
          </div>
       </div>
    </div>
  </div>